################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VolcanicTransport/.vs
/VolcanicTransport/VolcanicTransport/bin/*
/VolcanicTransport/VolcanicTransport/obj/*
/VolcanicTransport/VolcanicTransport-WPF/bin/*
/VolcanicTransport/VolcanicTransport-WPF/obj/*
/VolcanicTransport/VolcanicTransport-Tests/bin/Debug/net9.0
/VolcanicTransport/VolcanicTransport-Tests/obj
